body {
	background-image:linear-gradient(352deg, rgba(10,20,255,0) 3%, rgba(10,20,255,0.2) 100%);
	margin:1em;
}

::selection {
    background: rgba(10,20,255,0.1);
    color: rgb(0,0,255);
}

::-moz-selection {
    background: rgba(10,20,255,0.1);
    color: rgb(0,0,255);   
}

h2 {
	display:table;
	color: #000000;
	background-color:rgba(10,20,255,0.3);
	padding-top:0.1em;
	padding-bottom:0.1em;
	padding-left:0.3em;
	padding-right:0.3em;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	}

h2:before {
    content: "\00BB";
    margin-right: 6px;
}

p {
	color: #0000ff;
	font-family:"Courier New", Courier, monospace;
}

a:link {
	text-decoration:none;
	font-style:normal;
	color:#0032d2;
}

a:hover {
	text-decoration:normal;
	font-style:bold;
	color:#027ff3;
}

a:visited {
	text-decoration:line-through;
	font-style:italic;
	color:#5b5c5c;
}

a:active {
	text-decoration:none;
	font-style:oblique;
	color:#00d2f7;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}